.blog-body-container {
  font-family: "Roboto Mono";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-body {
  width: 700px;
}

.blog-post-block {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 10px ridge black;
  overflow: hidden;
}

.blog-header {
  background-color: white;
  padding-top: none;
  display: block;
  justify-content: center;
  border-bottom: none;
  font-family: "Roboto Mono";
}

.post-title {
}

.date {
  color: gray;
}

.content {
}
