body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: white;
    color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: black;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
.main {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-left: 0px;
    width: 100%;
}
/*Style for the 3-card selection of virtual environments*/
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 25%;
    padding: 30px;
    padding-top: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
    background-size: cover; /* Cover the entire card */
    background-position: center; /* Center the background image */
}
.card:hover {
    transform: scale(1.05); /* Scale up on hover */
}
.card h2 {
    margin-top: 0%;
    position: relative;
    z-index: 1;
    color: rgb(81, 81, 81);
    background-color: white;
    border-radius: 15px;
}

/* Background images for each card */
.card1 {
    background-image: url("Photos/exterior\ wall.jpg");
    background-image: url("Photos/Room\ A.png");
    background-size: cover;
    background-position: center;
}
.card2 {
    background-image: url("Photos/multi-family\ housing.jpg");
    background-size: cover;
    background-position: center;
}
.card3 {
    background-image: url("Photos/office.jpg");
    background-size: cover;
    background-position: center;
}
/* Ensures that links on the website are not underlined or change colors when clicked*/
a {
    text-decoration: none; /* Remove underline */
    color: black;
}
a:visited {
        color: black; /* Color after clicking */
}
