/* Basic Styling */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box; /* Ensure padding is included in width/height calculations */
}

/* Prevents Scrolling. Disabled when the popup is closed */
body.no-scroll {
    overflow: hidden; /* Prevent scrolling */
}

.main {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-left: 0px;
    width: 100%;
}
