footer {
  display: flex;
  justify-content: center;
  font-family: "Roboto Mono";
  margin-top: 10px;
  border-top: 2px solid black;
}

.footer-text {
  align-self: center;
  text-align: center;
}

.contact a {
  color: blue;
}

.contact a:hover {
  color: darkblue;
}
