footer {
  display: flex;
  justify-content: center;
  font-family: "Roboto Mono";
  margin-top: 10px;
  border-top: 2px solid black;
  background-color: black;
}

.footer-text {
  align-self: center;
  text-align: center;
  color: #d7eae8;
}

.contact a {
  color: #d7eae8;
}

.contact a:hover {
  color: #9caaa8;
}
