/* Mini Map Styling */
.controls-container {
    position: relative;
    height: 70vh;
    width: 30%;
    left: 0;
    background-color:#f0f0f0;
    padding: 10px; /* Padding inside the mini-map */
    padding-right: 0px;
    padding-left: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000; /* Ensure it stays on top */
    align-content: center;
}

.mini-map-title {
    margin: 0; /* Remove default margin */
    font-size: 16px; /* Font size for the title */
    padding-bottom: 5px; /* Space between title and mini-map */
    z-index: 1001; /* Ensure it stays on top of the mini-map */
}

.minimap {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

/* Different sizes for each image */
.img-minimap {
    width: 600px;
    justify-self: center;
    align-self: center;
    cursor: pointer; /* Pointer cursor on hover */
}