#progress-container {
    width: 100%;
    background: #eee;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px; /* Space between progress and buttons */
}
#progress-subcontainer {
    width: 125px;
    background: #ddd;
    cursor: pointer;
    border-radius: 8px;
}
#progress-bar {
    width: 0;
    height: 10px;
    background: green;
    border-radius: 8px;
}
#time-progress-container {
    width: 0;
    height: 10px;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}