.right-container { /* Container for playback and listening-path */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack playback and listening path vertically */
    flex-grow: 1; /* Allow this container to grow and take up remaining space */
}

/* Play-Pause Button Styling */
.toggle-container {
    display: flex;
    background-color: #f0f0f0;
}

#toggle_Image {
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    padding-left: 10px;
    padding-top: 5px;
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    transition: transform 0.4s ease; /* Add transition for scaling */
}

#toggleImage:active {
    transform: scale(1.15); /* Scale up when clicked */
}

.playback-container {
    display: flex;
    flex-direction: row; /* Stack elements horizontally */
    justify-content: flex-start; /* Align items at the start */
    background-color: #f0f0f0#fff; /* Optional background color */
    height: 50px;
}

.progress-container {
    display: flex; /* Use flexbox for layout */
    width: 100%;
    align-items: center; /* Center items vertically */
    background: #eee;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px; /* Space between progress and buttons */
    padding-left: 5px;
    padding-right: 10px;
}

#progress-subcontainer {
    flex-grow: 1; /* Allow this to take up remaining space */
    background: #ddd;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 10px; /* Space between progress bar and time */
}

#progress-bar {
    width: 0;
    height: 10px;
    background: green;
    border-radius: 8px;
}
#time-progress-container {
    display: flex;
    align-items: center; /* Center text vertically */
    height: 10px; /* Match the height of the progress bar */
}