.page-description {
    font-family: "Roboto Mono";
    justify-self: center;
}

.project-list-container {
    display: flex;
    flex-direction: column;
    font-family: "Roboto Mono";
}

.project-title {
    text-decoration: underline;
    padding-top: 10px;
    margin: 0;
}

.project-description {
    color: grey;
    margin: 0;
    padding-top: 10px;
}